<%= javascript_include_tag 'profiles' %>
<h1>Edit User Profile</h1>

<%= simple_form_for @profile do |f| %>
  <%= render 'profile_image', image: f.object.avatar %>
  <%= f.input :avatar %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :group_type_interests, as: :check_boxes, collection: Profile::CATEGORIES, checked: @profile.group_interests_array %>
  <div id='languages', data-searchurl=<%= url_for(all_languages_path) %>>
    <%= f.simple_fields_for :languages do |language| %>
      <%= render 'language_fields', f: language %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add language', f, :languages %>
    </div>
  </div>
  <div id='skills', data-searchurl=<%= url_for(all_skills_path) %>>
    <%= f.simple_fields_for :skills do |skill| %>
      <%= render 'skill_fields', f: skill %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add skills', f, :skills %>
    </div>
  </div>
  <%= f.input :website %>
  <%= f.simple_fields_for :user_work_samples do |work_sample| %>
    <%= work_sample.input :title %>
    <%= work_sample.input :sample_image %>
  <% end %>

  <%= f.submit 'Update' %>
<% end %>