<h1>Edit User Profile</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :avatar %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :group_type_interests, as: :check_boxes, collection: Profile::CATEGORIES %>
  <%= f.input :languages %>

  <%= f.submit 'Update' %>
<% end %>