<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class='signup-form-and-header'>
          <h2 class='signup-header'>Sign Up Today!</h2>
          <br/>
          <div class='signup-form'>
            <%= simple_form_for(User.new, url: user_registration_path) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: {class: 'modal-form-input'} %>
                <br/>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: 'Password', input_html: {class: 'modal-form-input'}  %>
                <br/>
                <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm Password', input_html: {class: 'modal-form-input'}  %>
              </div>
              <br/><br/>
              <div class="form-actions">

                <%= f.button :submit, "Sign Up", class: 'signup-button form-signup-button' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>